<div class="list-of-players">
<h3> Players </h3>
<% @players.each do |player| %>
	<h4><%= player.position.name %> -- <%= link_to player.name, player_path(player.id) %></h4>
	<!-- link_to image_tag(t.photo_url), player_path(t.id) -->
<% end %>
</div>

<div class="all-player-tweets">
	<p><%= @list_of_tweets %></p>
</div>





