<div class= "player-info">
	<h3><%= @player.name %></h3>
	Position: <%= @player.position.name %> <br>
	<%= @player.team %> <br>
	<%= image_tag(@player.photo_url)%>
</div>


<div class= "player-tweets">
  fadsljfkdjaskljfadlsk
</div>