html {
	background-image: url(http://d3thflcq1yqzn0.cloudfront.net/025288742_prevstill.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 120%
}

header {
	text-align: center;
	background: rgba(255,255,255,.8);
	color: white;
	padding: 10px;
}

header h1 {
}

header h4 {
}

/******* Players#Index ***********/

.list-of-players {
	background: white;
	width: 30%;
	margin-left: 5%;
	margin-top: 5%;
	text-align: center;
	padding: 5px;
	border: 2px solid black;
	float: left;
}

.twitter-timeline {
	margin-top: 5%;
	float: right;
	margin-right: 5%;
}


/******* Players#Show ***********/

.player-info {
	border: 2px solid black;
	float: left;
	text-align: center;
	background: white;
	margin-left: 5%;
	margin-top: 5%;
	width: 30%;
	height: 400px;
}

.player-tweets {
	border: 2px solid black;
	background: white;
	height: 500px;
	width: 50%;
	float: right;
	margin-top: 5%;
	margin-right: 5%;
}

.player-tweets p {
	margin: 10px 20px 0px;
}

img {
	width: 100%;
	margin-top: 10px;
	margin-bottom: -4px;
	height: 295px;
}

a {
	text-decoration: none;
	color: blue;
}







/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
